 /** Responsive **/
 @media only screen and (max-width:2500px) {
   .incup {
      position: absolute;
      left: 1059px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 1090px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 759px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 520px;
}
.profile {
   display: flex;
   position: absolute;
   right: 220px;
}
}

@media only screen and (max-width:2400px) {
   .incup {
      position: absolute;
      left: 1019px;
      bottom: 580px;
   }
   .coffee {
      position: absolute;
      left: 1050px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 699px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 520px;
}
.profile {
   display: flex;
   position: absolute;
   right: 220px;
}
}

@media only screen and (max-width:2300px) {
   .incup {
      position: absolute;
      left: 959px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 999px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 659px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
}


@media only screen and (max-width:2200px) {
   .incup {
      position: absolute;
      left: 909px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 939px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 609px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
}

@media only screen and (max-width:2100px) {
   .incup {
      position: absolute;
      left: 879px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 909px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 529px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 480px;
}
}

@media only screen and (max-width:2000px) {  
   .incup {
      position: absolute;
      left: 829px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 859px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 499px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 440px;
}
}

@media only screen and (max-width:1900px) {
   .incup {
      position: absolute;
      left: 779px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 799px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 499px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 420px;
}
}

@media only screen and (max-width:1800px) {
   .incup {
      position: absolute;
      left: 729px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 759px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 389px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 380px;
}
.profile {
   right: 150px;
}
}

@media only screen and (max-width:1700px) {
   .incup {
      position: absolute;
      left: 729px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 759px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 389px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 350px;
}
.profile {
   right: 150px;
}
}

@media only screen and (max-width:1620px) {
   .incup {
      position: absolute;
      left: 599px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 629px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 289px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 280px;
}
.profile {
   right: 150px;
}
}

@media only screen and (max-width:1540px) {

}


@media only screen and (max-width:1440px) {
   .incup {
      position: absolute;
      left: 559px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 589px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 279px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 220px;
}
.profile {
   right: 110px;
}
}


@media only screen and (max-width:1270px) {
   .incup {
      position: absolute;
      left: 459px;
      top: 80px;
   }
   .coffee {
      position: absolute;
      left: 489px;
      bottom: 680px;
   }
  #ec {
   position: absolute;
   left: 149px;
   bottom: 150px;
   width: 307px;
   height: 353px;
}
.cart {
   display: flex;
   position: absolute;
   right: 0px;
}
.profile {
   right: 110px;
}
}

@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:1100px) {

}

@media only screen and (max-width:980px) {

}

@media only screen and (max-width:930px) {

}

@media only screen and (max-width:870px) {

}

@media only screen and (max-width:770px) {

}

@media only screen and (max-width:670px) {
 
}

@media only screen and (max-width:570px) {

}