
.contact-us{
    background:#FBEEE5;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 auto;

 }

 .contact-row {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 30px;
   margin-left: 10px;

 }
.contact-row span{
   font-size: clamp(20px, 10vw, 35px);
   font-weight: 400;
   color: #14463A;
   padding-top: 55px;

 }

 .contact-row p{
    font-size: 25px;
    font-weight: 400;
    color: rgba(20, 70, 58, 0.75);
    padding-top: 5px;
 }

 .contact-row div {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
 }

 .contact-row h2{
   font-size: clamp(10px, 10vw, 15px);
   font-weight: 400;
   color: rgba(20, 70, 58, 0.75);
   padding-top: 5px;
}

.textmessage {
   width: 150%;
}


.container {
   position: relative;
}

 .contact-image {
   width:40%;
   height: auto;
   position: absolute;
   margin-left: 55%;
   margin-top: 15%;
   display: block;

 }

 .form-control {
   border-color: black;
   border-radius: 10px;
 }


.btn {
   background-color: #14463A;
   color: #FBEEE5;
   width: 20%;
   height: 7vh;
   border-radius: 15px;
   border-color: #14463A;
}

.btn:hover {
   background-color: #14463A;
   color: #FBEEE5;
   border-color: #14463A;

}

 @media screen and (max-width: 1398px) {
   .contact-image{
      width:30rem;
      height: auto;
      position: absolute;
      margin-left: 55%;
      margin-top: 20%;
      display: block;
   };
   
 }

 
 @media screen and (max-width: 1200px) {
   .contact-image{
      width: 25rem;
      height: auto;
      position: absolute;
      margin-left: 55%;
      margin-top: 29%;
      display: block;
   };
   
 }

 
 
 @media screen and (max-width: 991px) {
   .contact-image{
      display: none;
   };
   
 }