*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', cursive;
}

.navbar{
   display: flex;
   background-color: #14463A;
   justify-content: center;
   position: relative;
   padding-block: 20px;
}

.container {
   margin: 0 auto;
}

.navbar-row {
   display: flex;
   flex-direction: row;
   
}
.navbar-row h1 {
   margin-left: 20px;
   font-size: 15px;
   font-weight: 400;
   color: #FBEEE5;
}

.cup {
   position: relative;
}
.cup img {
   position: absolute;
   top: 650px;
   left: -650px;

}

.cup .coffee {
   position: absolute;
   top: 330px;
   left: -550px;

}

main{
    background:#14463A;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    overflow: hidden;
 }

 .row span {
    color: #FBEEE5;
    font-weight: 400;
    font-size: 120px;
 }

 .row h2 {
    color: #FBEEE5;
    font-weight: 400;
    font-size: 90px;
 }
 