*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', cursive;
}


.navbar{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   gap: 20px;
   justify-content: space-between;
   position: fixed;
   top: 0;
   z-index: 1;
   padding: 0 5px;
   background: rgba(255, 255, 255, 0.4);
}

.logo{
   display: flex;
   width: 10%;
   height: 4rem;
   justify-content: center;
   align-items: center;
 }
 
 .logo img {
   width: 90%;
 }

.container {
   margin: 0 auto;
}

.navbar-row {
   display: flex;
   flex-direction: row;
   
}

.navbar-row a{
   color: var(--text-color);
   font-weight: bold;
   font-size: clamp( 12px, 5vw, 16px);
   padding: 20px 30px;
   text-decoration: none;
 }
 .navbar-row a:active{
   color: white;
 }
 .navbar-row a:hover{
   color: rgba(20, 70, 58, 0.75);
 }
.navbar-row a {
   margin-left: 20px;
   font-size: 15px;
   font-weight: 400;
   color: #14463A;
}

.menubar{
   display: none;
 }

.cup {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cup img {
   width: 40%;
   
}

.main{
    background:#14463A;
    height: 100vh;
    width: 100wh;
    display: flex;   
    margin: 0 auto;
    position: relative;
 }

.row {
   width: 50%;
}

.row p {
   color: #FBEEE5;
   font-weight: 400;
   text-align: flex-start;
   font-size: clamp(7px, 15vw, 15px);
   margin-top: 30px;
   margin-left: 90px;
}
 .row span {
    color: #FBEEE5;
    font-weight: 400;
    text-align: flex-start;
    font-size: clamp(45px, 15vw, 120px);
    margin-top: 30px;
    margin-left: 90px;
 }

 .row h2 {
    color: #FBEEE5;
    font-weight: 400;
    text-align: flex-start;
    font-size: clamp(40px, 10vw, 80px);
 }
 
 .row button {
   width: 227px;
   height: 57px;
   background: #FBEEE5;
   border-radius: 10px;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 33px;
   color: #14463A;

 }

 .cart {
   display: flex;
   width: 10%;
   height: 4rem;
   justify-content: center;
   align-items: center;
 }
.cart a {
   width: 100%;
   height: auto;
}
.cart span {
   background-color: red;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FBEEE5;
   padding: 2px 5px;
   margin-bottom: 20px;
   margin-right: 10px;

}


 .spacing {
   margin-right: 40px;
 }


 @media screen and (max-width: 990px ) {
   .menubar{
     display: block;
   }
   .navbar-row{
     display: none;
   }
   .cart {
      display: none;
   }
 }

 @media screen and (max-width: 960px ) {
   .cup img {
      display: none;
   }
 }

 @media screen and (max-width: 600px ) {
   .cup img {
      position: absolute;
      top: 450px;
      left: -580px;
   
   }
   
   .cup .coffee {
      position: absolute;
      top: 70px;
      left: -380px;
      width:450px;
      height: 690px;
   }
 }



 footer {
   height: 5vh;
   background-color: #14463A;
 }