
#products{
    background:#FBEEE5;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
 }


#products span{
    font-size: 50px;
    font-weight: 400;
    color: #14463A;
    padding-top: 55px;
 }


 /* Dropdown Button */
.dropbtn{
   height: 50px;
   background-color: transparent;
   border: none;
   cursor: pointer;
 }
 
 .dropbtn .user {
   width: 35px;
   height: auto;
 }
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #FBEEE5;
   min-width: 20px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   color: #14463A;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {
   display: flex;
   flex-direction: column;
   margin-right: 120px;
}