
.product{
    background:#FBEEE5;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
 }

 .product-row {
    display: flex;
    align-items: flex-start;

 }
.product-row span{
    font-size: 50px;
    font-weight: 400;
    color: #14463A;
    padding-top: 55px;
 }
