<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Cup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="..\stylev2\main.css">
    <link rel="stylesheet" href="..\stylev2\product.css">
    <link rel="stylesheet" href="..\stylev2\clients.css">
    <link rel="stylesheet" href="..\stylev2\contact_us.css">
</head>
<body>

    <!-- Navbar Section -->
    <div class="navbar">
        <div class="container">
        <div class="logo">       
             <img src="..\assets\logo.png">
        </div>
        <div class="navbar-row">
         <a href="#main">Home</a>
         <a href="#products">Products</a>
         <a href="#clients">Clients</a>
         <a href="#contact-us">Contact Us</a>
        </div>
        <div class="cart">
                <a href="cart.html"><img src="..\assets\cart.png"></a>
                <span>0</span>
                <div class="spacing"></div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"><img src="..\assets\user.png" class="user"></button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#">Profile</a>
                      <a href="#">Logout</a>
                    </div>
              </div>
       </div>
       <img class="menubar" src="..\assets\more.png" alt="">
    </div>

    </div>

    <!-- Home Section -->
    <main class="main reveal" id="main">
      <div class="cup">
        <div class="row">
            <span>InCup<br><h2>Coffee</h2></span>
            <p>Welcome to the world of Incup Coffee Grains, where passion, expertise, and the finest coffee beans converge to create an unparalleled coffee experience.
            <br>
            <br>
            <button onclick="">About Us</button>
        </div>
        <img src="..\assets\combine.png">
      </div>
    </main>

       <!-- Product Section -->
       <section class="products reveal" id="products">
      <div class="row-products">
        <span>Taste our Blends</span>
         <div class="content-section">
          <div class="card">
            <img src="..\assets\products\arabica.png">
            <h2>Arabica Coffee</h2>
            <p>₱ 250.00</p>
            <button onclick="">Order Now</button>
          </div>
          <div class="card">
            <img src="..\assets\products\excelsa.png">
            <h2>Excelsa Coffee</h2>
            <p>₱ 280.00</p>
            <button onclick="">Order Now</button>
          </div>
          <div class="card">
            <img src="..\assets\products\arabica.png">
            <h2>Liberica Coffee</h2>
            <p>₱ 350.00</p>
            <button onclick="">Order Now</button>
          </div>
          <div class="card">
            <img src="..\assets\products\excelsa.png">
            <h2>Robusta Coffee</h2>
            <p>₱ 300.00</p>
            <button onclick="">Order Now</button>
          </div>
        </div>
        <div class="row-text-product">
          <h2>"If your Monday morning is lagging, our caffine will wake you up!"</h2>
        </div>
    </section>

        <!-- Clients Section -->

    <section class="clients reveal" id="clients">
      <div class="sponsor">
        <div class="mx-auto" style="height: 20px;">
        </div>
        <div class="all-texts">
            <h2 class="clients-text">Clients that trust us</h2>
        </div>
        <div class="clients-row">
          <img src="..\assets\clients\bpas 1.png " alt="">
          <img src="..\assets\clients\bpas 2.png " alt="">
          <img src="..\assets\clients\bpas 3.png " alt="">
        </div>
        <div class="clients-row">
          <img src="..\assets\clients\bpas 4.png " alt="">
          <img src="..\assets\clients\bpas 5.png " alt="">
          <img src="..\assets\clients\bpas 6.png " alt="">
        </div>
      </div>
      </section>
      


    <!-- Contact Us Section -->
    <section class="contact-us reveal" id="contact-us">
        <div class="container">
        <div class="contact-row">
            <span>Get in touch</span>
            <p>24/7 We will answer your questions and problems</p>
            <form>
              <div class="row">
                <h2>First Name:</h2>
                <div class="col">
                  <input type="text" class="form-control" id="validationDefault01" required>
                </div>
                <h2>Last Name:</h2>
                <div class="col">
                  <input type="password" class="form-control" name="pswd" required>
                </div>
                <h2>Email:</h2>
                <div class="col">
                  <input type="email" class="form-control" name="email" required>
                </div>
                <h2>Message:</h2>
                <div class="col">
                  <textarea rows="4" cols="50" name="message" id="message" form="usrform" maxlength="200" class="textmessage" required></textarea>
                </div>
              </div>
              <br>
              <div class="col-12">
                <button class="btn" type="submit">Submit</button>
              </div>
            </form>
            <img src="..\assets\contact\incup-contact.png"  class="contact-image">
        </div>
    </div>
    </section>

    
    <!-- Footer Section -->
  <footer>Hello</footer>

    <script src="../stylev2/nav.js"></script>
    <script src="../stylev2/product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>